<%= link_to 'Back', access_levels_path %>

<section class="add-new">

  <h6>Editing Access Level</h6>

  <%= render 'form', access_level: @access_level %>

</section>

<%#= link_to 'Show', @access_level %>