<p id="notice"><%= notice %></p>

<section class="outstanding-invoices">
  <h6>User Access Levels</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">Description</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @access_levels.each do |access_level| %>
    <ul class="ul-lines">
      <li>
        <p><%= access_level.name %></p>
      </li>
      <li>
        <p><%= access_level.description %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_access_level_path(access_level) %></p>
      </li>
    </ul>
  <% end %>
</section>

<%#= link_to 'New Access Level', new_access_level_path %>


