<p id="notice"><%= notice %></p>

<section class="outstanding-invoices">
  <h6>Bids</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">Description</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @access_levels.each do |access_level| %>
    <ul class="ul-lines" key={access_level.access_level_id}>
      <li><%= access_level.name %></li>
      <li><%= access_level.description %></li>
      <li><%= link_to 'Edit', edit_access_level_path(access_level) %></li>
    </ul>
  <% end %>
</section>

<%#= link_to 'New Access Level', new_access_level_path %>


