<p id="notice"><%= notice %></p>

<%= link_to 'New Bid Status', new_bid_status_path %>

<section class="outstanding-invoices">
  <h6>Bids</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @bid_statuses.each do |bid_status| %>
    <ul class="ul-lines">
        <li>
          <p><%= bid_status.name %></p>
        </li>
        <li>
          <p><%= link_to 'Edit', edit_bid_status_path(bid_status) %></p>
        </li>
    </ul>
  <% end %>
</section>