<p id="notice"><%= notice %></p>

<%= link_to 'New Term', new_term_path %>

<section class="outstanding-invoices">
  <h6>Terms</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @terms.each do |term| %>
    <ul class="ul-lines">
      <li>
        <p><%= term.name %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_term_path(term) %></p>
      </li>
        <%#= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>
    <% end %>
</section>