<%= link_to 'Back', company_categories_path %>

<section class="add-new">

  <h6>Editing Company Category</h6>

  <%= render 'form', company_category: @company_category %>

</section>

<%#= link_to 'Show', @company_category %>