<p id="notice"><%= notice %></p>

<%= link_to 'New Image Type', new_image_type_path %>

<section class="outstanding-invoices">
  <h6>Image Types</h6>
  <ul>
    <li>
      <p class="heading">Name</p>
    </li>
    <li>
      <p class="heading">View</p>
    </li>
  </ul>
  <% @image_types.each do |image_type| %>
    <ul class="ul-lines">
      <li>
        <p><%= image_type.name %></p>
      </li>
      <li>
        <p><%= link_to 'Edit', edit_image_type_path(image_type) %></p>
      </li>
      <%#= link_to 'Show', image_type %>
      <%#= link_to 'Destroy', image_type, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  <% end %>
</section>
